@{
    ViewBag.Title = "About";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
            </hgroup>
        </div>
    </section>
}
<p> This Website was created by Saurabh Khatavkar, Kapil Dolas & Rugved Farde, as a part of their Final Year Project</p>