@{
    ViewBag.Title = "Login - Stock Manager";
}

<h2>Login</h2>

<form method="post" action="../Login/Authenticate" runat="server">
    UserName:<br /><input type="text" name="username" /><br />
    Password:<br /><input type="password" name="password" /><br />
    <input type="submit" value="Login" />
</form>
<br />
<a href="../Login/Register">New user? Register here</a>