@{
    ViewBag.Title = "Contact";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
            </hgroup>
        </div>
    </section>
}

<p> <a href="mailto:kapildolas@gmail.com">Contact Us by sending an email</a></p>
